* {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-blog, .about-personality, .about-motto, .about-connect, .about-Pursue, .about-skills , .about-views {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
  padding: 20px;
  overflow: hidden;
}
.about h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: bold;
}
.about-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.about-column {
  flex: 1;
  min-width: 300px;
  box-sizing: border-box;
}
.my-name h2 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 5px;
}
.my-name p {
  font-size: 1.0rem;
  color: #cdc7ff;
}
.my-name {
  background: linear-gradient(to right, #3c00ff, #3880fb);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
  padding: 20px;
  overflow: hidden;
  font-weight: bold;
}
.about-Pursue-title {
  color: #949291;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.about-Pursue h2{
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
#about-Pursue-dynamic-span {
  color: #0026ff;
  font-size: 2rem;
  font-weight: bold;
  transition: color 1s ease; /* 添加颜色变化的过渡效果 */
  position: relative; /* 让文字动画可以相对于自身元素进行定位 */
  display: inline-block; /* 行内元素转为块级元素，以便应用动画 */
}
.about-motto-title {
  color: #949291;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
#about-motto-1 {
  font-size: 2rem;
  font-weight: bold;
  color: #949291;
}
#about-motto-2 {
  font-size: 2rem;
  font-weight: bold;
  color: #4c4948;
}
.about-me {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
  padding: 20px;
  overflow: hidden;
}
.about-me h2, .about-blog h2, .about-connect h2 , .about-views h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.about-me p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #666;
}
.color-text {
  font-weight: bold;
}
.about-blog p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #666;
}
.about-connect h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.about-connect ul {
  color: #666;
}
.about-connect ul li {
  margin: 1px 0;
}
.about-Specialties {
  background: linear-gradient(to right, #ff27e6, #ff507d);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
  padding: 20px;
  overflow: hidden;
}
.about-Specialties h2 {
  color: #ffffff;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: left; /* 确保标题靠左对齐 */
}
.about-Specialties-title {
  font-weight: bold;
  font-size: 0.8rem;
  color: #ffacee;
}
#about-Specialties-1 {
  color: #ffacee;
}
/* 应用动画到文字 */
#about-Specialties-max {
  font-size: 1.5em;
  background-image: linear-gradient(to right, #ffefa9, #FFD700);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  display: inline-block; /* 使span元素成为块级元素，允许缩放 */
  animation: smooth-enlarge 1.5s infinite ease-in-out; /* 动画名为smooth-enlarge，持续时间2秒，循环无限次 */
  vertical-align: middle; /* 垂直对齐 */
}
@keyframes smooth-enlarge {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.about-personality-title {
  font-size: 0.8rem;
  color: #949291;
  margin-bottom: 10px;
}
.about-personality-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.about-personality-ESFJ {
  max-width: 50%;
}
.about-personality-ESFJ h2 {
  color: #33a474;
  font-size: 2rem;
  font-weight: bold;
  font-size: 30px;
}
.about-personality-ESFJ h3 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #4c4948;
}
.about-personality-img {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-personality-more {
  font-size: 0.8rem;
  color: #949291;
}
.about-skills-title {
  font-size: 0.8rem;
  color: #949291;
  margin-bottom: 10px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.skill-item-HTML, .skill-item-CSS, .skill-item-JS, .skill-item-python {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skill-item-HTML {
  background-color: #e9572b;
}
.skill-item-CSS {
  background-color: #2c51db;
}
.skill-item-JS {
  background-color: #f7cb4f;
}
.skill-item-python {
  background-color: #ffffff;
}
#about-skills-img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}