* {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
.apps {
    text-align: left; /* 标题靠左显示 */
    padding: 20px 0; /* 减少顶部填充 */
}

.apps h2 {
    font-size: 2em;
    font-weight: bold;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* 调整最大宽度以适应更多卡片 */
    margin: 0 auto; /* 居中 */
}

.project-card {
    display: flex;
    flex-direction: column; /* 垂直布局 */
    justify-content: space-between; /* 使内容和链接分开 */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 16px; /* 圆角 */
    width: 30%; /* 卡片宽度，确保每行显示3个 */
    margin: 10px 0; /* 卡片上下间距 */
    padding: 20px; /* 卡片内边距 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    will-change: transform, opacity;
}

.project-card:hover {
    transform: scale(1.01); /* 放缩大小 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 1.5em;
}

.project-card p {
    color: #555;
    margin-top: 3px;
    flex-grow: 1; /* 占据剩余空间 */
}

.project-card a {
    display: inline-block;
    position: relative; /* 为伪元素定位 */
    margin-top: 10px;
    padding: 5px 10px;
    color: #000000;
    border-radius: 4px;
    transition: color 0.3s;
}

.project-card a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 1px;
    left: 0;
    background: linear-gradient(to right, #00ffaa, #00fbff);
    transition: width 0.3s ease;
}

.project-card a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    .project-card {
        width: 48%; /* 调整宽度以适应较小屏幕上的2个卡片 */
    }
}

@media (max-width: 450px) {
    .projects {
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
    .project-card {
        width: 100%;
    }
}
