.text-center , .max-lg\:hidden {  /*隐藏侧栏*/
    display: none;
}


.profile-pic {
    float: right;
    margin-left: 800px;
    margin-top: -30%;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 5px #3e454f;
}
@media (max-width: 1024px) {
    .profile-pic {
        width: 200px;
        height: 200px;
        margin-top: -300px;
    }
  }
  @media (max-width: 600px) {
    .profile-pic {
        display: none;
    }
  }
  
h2 {
    margin-top: 70px;
    font-size: 3rem;
}
@media (max-width: 425px) {
    h2 {
        font-size: 1.5rem;
    }
  }
h3 {
    font-size: 3.5rem;
    margin-bottom: 15px;
}
.name {
    background-image: linear-gradient(to right, #00ffaa, #00fbff);
    color: #ffffff; 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
}
@media (max-width: 768px) {
    h3 {
        font-size: 2.5rem;
    }
  }
@media (max-width: 425px) {
    h3 {
        font-size: 2.rem;
    }
  }
@media (max-width: 425px) {
    h3 {
        font-size: 1.5rem;
    }
  }
  
.description {
    margin-top: 25px;
    font-size: 1.4rem;
}
@media (max-width: 425px) {
    .description {
        font-size: 1rem;
    }
  }
.developer , .gamer {
    background: linear-gradient(to right, #00ffaa, #00fbff);
    border-radius: 5px;
    font-weight: bold;
}
.socials {
    margin-top: 50px;
    display: flex;
    gap: 5px; /* 调整链接之间的间距 */
}
.social-link {
    margin: 0 10px;
    color: #2e405b; 
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}
@media (max-width: 425px) {
    .social-link {
        font-size: 0.8rem;
    }
  }
.social-link .icon {
    margin-right: 3px; /* 调整图标与文本之间的间距 */
}
@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(10deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(10deg); }
    40% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wave {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s infinite;
    transform-origin: 70% 70%; 
  }
  @media (max-width: 425px) {
    .wave {
        font-size: 2.5rem;
    }
  }