* {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
body {
    white-space: nowrap;
}
.container {
    margin-bottom: 22%;
    margin-top: 8%;
  }
.profile-pic {
    pointer-events:none;
    float: right;
    margin-left: 800px;
    margin-top: -300px;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px #00000076;
} 
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 3.5rem;
    margin-bottom: 15px;
}
.name {
    background-image: linear-gradient(to right, #00ffaa, #00fbff);
    color: #ffffff; 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
}
.description {
    margin-top: 25px;
    font-size: 1.4rem;
}
.developer , .gamer {
    background: linear-gradient(to right, #00ffaa, #00fbff);
    border-radius: 5px;
    font-weight: bold;
}
.socials {
    margin-top: 20px;
    margin-left: -10px;
    display: flex;
    gap: 5px; /* 调整链接之间的间距 */
}
.social-link {
    margin: 0 10px;
    color: #434343; 
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}
.social-link .icon {
    margin-right: 3px; /* 调整图标与文本之间的间距 */
}
@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(10deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(10deg); }
    40% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wave {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s infinite;
    transform-origin: 70% 70%; 
  }
  @media (max-width: 950px) {
    .profile-pic {
        width: 250px;
        height: 250px;
    } 
  }
  @media (max-width: 850px) {
    .profile-pic {
        width: 200px;
        height: 200px;
        margin-top: -320px;
    } 
  }
  @media (max-width: 700px) {
    .profile-pic {
        display: none;
    } 
  }