.mt-5 {
    display: none;
}

.posts-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 4%;
}
.post-card {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px #00ffaa;
  will-change: transform;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.post-card:hover {
  transform: scale(1.01);
}
.post-title {
  margin: 0 0 0.5rem;
  text-decoration:underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.3em;

}
.post-mate {
  display: inline;
  background-image: linear-gradient(to right, #00ef9f, #02d0d4);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-weight: bold;
}