---
import ListSection from '~/components/ListSection.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import { getCategories, getPathFromCategory } from '~/utils/index'
import '~/styles/categories.css'

const { translate: t } = Astro.locals
const { category_map } = Astro.locals.config;

const categories = await getCategories()
---

<LayoutDefault>
  <div class="container mx-auto px-4 py-8">
    <ListSection title={t('Categories')} class="text-center mb-8">
      <div class="flex flex-wrap justify-center gap-4">
        {Array.from(categories).map(([key, value]) => (
          <a 
            href={`/categories/${getPathFromCategory(key, category_map)}`} 
            class="category-item"
          >
            <span class="hash">#</span>
            <span class="name">{key}</span>
            <span class="count">{value.length}</span>
          </a>
        ))}
      </div>
    </ListSection>
  </div>
</LayoutDefault>
