---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
    <link rel="stylesheet" type="text/css" href="/css/apps.css">
    <div class="container">
        <div class="apps">
            <h2>Apps</h2>
        </div>
        <div class="projects" id="projects">
        </div>
    </div>
    <script type="module" is:inline>
        const projects = [
            { url: 'https://music.zhengweixin.top/', title: 'Music', description: '第三方网易云播放器' },
            { url: 'https://calculator.zhengweixin.top/', title: '计算器', description: '一个多功能的在线计算器' },
            { url: 'https://reader.zhengweixin.top/', title: 'Reader', description: '专为电脑端设计的在线阅读器' },
            { url: 'https://draw.zhengweixin.top/', title: '画板', description: '一个功能强大的在线白板' },
            { url: 'https://chat.zhengweixin.top/', title: 'NextChat', description: '一个需要填写key才可以用的AI' }
        ];

        document.addEventListener('DOMContentLoaded', () => {
            const projectsContainer = document.getElementById('projects');

            projects.forEach(project => {
                const projectCard = document.createElement('div');
                projectCard.className = 'project-card';

                const projectTitle = document.createElement('h3');
                projectTitle.textContent = project.title;

                const projectDescription = document.createElement('p');
                projectDescription.textContent = project.description;

                const projectLink = document.createElement('a');
                projectLink.href = project.url;
                projectLink.textContent = 'Go to →';
                projectLink.target = '_blank';

                projectCard.appendChild(projectTitle);
                projectCard.appendChild(projectDescription);
                projectCard.appendChild(projectLink);

                projectsContainer.appendChild(projectCard);
            });
        });
    </script>
</LayoutDefault>