---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import '~/styles/apps.css'
---

<LayoutDefault>
    <div class="container">
        <div class="page-title">
            <h2>&nbspAPPs&nbsp</h2>
        </div>
        <div class="projects" id="projects"></div>
    </div>
    <script type="module" is:inline>
        const projects = [
            { url: 'https://statistics.zhengweixin.top/zhengweixin.top', title: '访问统计', description: '记录本站的访问量' },
            { url: 'https://status.zhengweixin.top/', title: '站点监测', description: '监测和记录我的网站在线状态' },
            { url: 'https://music.zhengweixin.top/', title: 'Music', description: '第三方网易云播放器' },
            { url: 'https://tool.zhengweixin.top/', title: '在线工具箱', description: '上百个在线实用工具' },
            { url: 'https://short-links.zhengweixin.top/', title: '短网址', description: '缩短你的链接' },
            { url: 'https://calculator.zhengweixin.top/', title: '计算器', description: '一个多功能的在线计算器' },
            { url: 'https://gh-proxy.zhengweixin.top/', title: 'Github文件加速', description: '加速下载Github文件' },
            { url: 'https://reader.zhengweixin.top/', title: 'Reader', description: '专为电脑端设计的在线阅读器' },
            { url: 'https://draw.zhengweixin.top/', title: '画板', description: '一个功能强大的在线白板' },
            { url: 'https://chat.zhengweixin.top/', title: 'NextChat', description: '一个需要填写key才可以用的AI' }
        ];

        document.addEventListener('DOMContentLoaded', () => {
            const projectsContainer = document.getElementById('projects');

            projects.forEach(project => {
                const projectCard = document.createElement('div');
                projectCard.className = 'project-card';

                const projectTitle = document.createElement('h3');
                projectTitle.textContent = project.title;

                const projectDescription = document.createElement('p');
                projectDescription.textContent = project.description;

                const projectLink = document.createElement('a');
                projectLink.href = project.url;
                projectLink.innerHTML = 'Go to &#8594;'; 
                projectLink.target = '_blank';

                projectCard.appendChild(projectTitle);
                projectCard.appendChild(projectDescription);
                projectCard.appendChild(projectLink);

                projectsContainer.appendChild(projectCard);
            });
        });
    </script>
</LayoutDefault>
