---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
---

<LayoutDefault>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <div class="container">
    <h2>Hi! 👋</h2>
    <h3>I'm <span class="name">Weixin Zheng</span></h3>
    <p class="description">A 💻 <span class="developer">Developer</span> and 🎮 <span class="gamer">Gamer</span></p>
    <div class="buttons">
      <a href="/posts/page/1" class="btn blog-btn">Posts →</a>
      <a href="/about" class="btn about-btn">About →</a>
      <a href="/apps" class="btn about-btn">APPs →</a>
    </div>
    <div class="socials">
        <a href="https://github.com/Weexyy" class="social-link"><span class="icon i-mdi-github"></span>Github</a>
        <a href="mailto:zhengweixin0101@outlook.com" class="social-link"><span class="icon i-mdi-email"></span>Email</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=2422915421&site=qq&menu=yes" class="social-link"><span class="icon i-mdi-qqchat"></span>QQ</a>
    </div>
    <div class="profile-pic">
      <img src="/avatar.jpg" alt="avatar">
    </div>
</div>
</LayoutDefault>