---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import '~/styles/home.css'
---

<LayoutDefault>
  <div class="container">
    <h2>Hi!  <span class="wave">👋</span></h2>
    <h3>I'm <span class="name">ShinX</span></h3>
    <p class="description">A 💻<span class="developer"> Developer </span> and 🎮<span class="gamer"> Gamer </span>&nbsp</p>
    <div class="socials">
        <a href="https://github.com/zhengweixin0101" class="social-link"><span class="icon i-mdi-github"></span>Github</a>
        <a href="mailto:admin@zhengweixin.top" class="social-link"><span class="icon i-mdi-email"></span>Email</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=2422915421&site=qq&menu=yes" class="social-link"><span class="icon i-mdi-qqchat"></span>QQ</a>
    </div>
    <div class="profile-pic">
      <img src="/avatar.jpg" alt="avatar">
    </div>
</div>
</LayoutDefault>