---
const year = new Date().getFullYear()
---
<footer class="footer">
  <div id="copyright">
    <p>© 2023-{year} By <a href="https://zhengweixin.top/">ShinX</a></p>
  </div>
</footer>

<style>
footer {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #ddd;
}
#copyright {
  color: #787878;
}
</style>