---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { ...attrs } = Astro.props

const year = new Date().getFullYear()
---

<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <p>© 2023-{year} By <a href="https://weexy.cn/">Weixin Zheng</a></p>
  <script async src="https://busuanzi.icodeq.com/busuanzi.pure.mini.js"></script>
  <p>总访问量 <span id="busuanzi_value_site_pv"></span> 次 | 总访客数 <span id="busuanzi_value_site_uv"></span> 人</p>

</footer>