---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { ...attrs } = Astro.props

const year = new Date().getFullYear()
---
<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <div id="runtime">正在载入...</div>
  <div class="busuanzi_value">
    <p>总访客数 <span id="busuanzi_value_site_uv"></span> 人</p>
    <p>本站总访问量 <span id="busuanzi_value_site_pv"></span> 次</p>
  </div>
  <p>© 2023-{year} By <a href="https://weexy.cn/">Weixin</a></p>
</footer>

<!-- 引用js -->

<!-- 不算子 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<!-- 运行时间 -->
<script>
    const startDate = new Date('6/08/2024 12:00:00'); // 替换为你站点的启动时间

function updateRuntime() {
  const now = new Date();
  const difference = Number(now) - Number(startDate); // 确保类型为 number
  
  const days = difference / (1000 * 60 * 60 * 24); // 计算运行的天数
  const runtimeText = `本站已运行 ${days.toFixed(5)} 天`; // 保留5位小数，以秒级精度

  const runtimeElement = document.getElementById('runtime');
  if (runtimeElement) { // 检查 runtimeElement 是否为 null
    runtimeElement.textContent = runtimeText;
  }
}

setInterval(updateRuntime, 1000);
updateRuntime(); // 初始化调用以立即显示时间
</script>
