---
const year = new Date().getFullYear()
---
<span class="icon i-mdi-arrow-up-bold-box" id="back-to-top" aria-hidden="true"></span>
<footer class="footer">
  <div id="copyright">
    <p>© 2023-{year} By <a href="https://zhengweixin.top/">ShinX</a></p>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const backToTopButton = document.getElementById('back-to-top');

    if (backToTopButton) { // 检查 backToTopButton 是否为 null
        window.addEventListener('scroll', function () {
            // 只有在 backToTopButton 非 null 时才执行这些操作
            if (window.pageYOffset > 20) {
                backToTopButton.style.display = 'inline'; // 显示按钮
            } else {
                backToTopButton.style.display = 'none'; // 隐藏按钮
            }
        });

        backToTopButton.addEventListener('click', function () {
            // 同样，只有在 backToTopButton 非 null 时才执行滚动
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    }
});
</script>

<style>
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none; /* 初始时隐藏 */
    font-size: 36px; /* 增大图标尺寸 */
    color: #007BFF; /* 图标颜色 */
    transition: color 0.3s ease; /* 平滑颜色过渡 */
}

#back-to-top:hover {
    color: #0056b3; /* 鼠标悬停时的颜色变化 */
}

footer {
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #ddd;
}
#copyright {
  color: #787878;
}
</style>