---
import { formatDate } from '~/utils'
interface Props {
  post: Post
}

const { post } = Astro.props
const { translate: t } = Astro.locals
---

<article class="post-card">
  <header>
    <h1 class="post-title">
      <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
    </h1>
    <div class="post-mate">
      <span>{t('posted_at')}</span>
      <time>{formatDate(post.data.pubDate)}</time>
      {
        post.data.categories &&
          post.data.categories.map((category) => (
            <a class="ml-2.5">
              # {category}
            </a>
          ))
      }
    </div>
  </header>
  <slot />
</article>
