---
import '~/styles/index.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { SEO } from 'astro-seo'
import { getImage } from 'astro:assets'
import Loading from '~/components/Loading.astro'
interface Props {
  title?: string
  desc?: string
  banner?: ImageMetadata
}

const props = Astro.props as Props
const themeConfig = Astro.locals.config
const { header } = themeConfig

const defaultTitle = props.title ?? themeConfig.title
const desc = props.desc ?? themeConfig.desc
const canonical = themeConfig.website

const image = props.banner 
  ? await getImage({ src: props.banner, format: "jpeg" })
  : null

const optimizedImage = new URL(image?.src ?? "/placeholder.png", Astro.url).toString()
---

<html lang="zh">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="utf-8"
      title={defaultTitle}
      description={desc}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico', type: 'image/jpg' }],
        meta: [
          { name: "twitter:image:src", content: optimizedImage },
          { name: "twitter:image:alt", content: desc },
          { name: "twitter:creator", content: header.twitter },
          { name: "twitter:site", content: header.twitter },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:title", content: defaultTitle },
          { name: "twitter:description", content: desc },
        ],
      }}
      openGraph={{
        basic: {
          title: defaultTitle,
          type: "article",
          image: optimizedImage,
          url: canonical,
        }
      }}
    />

    <!-- 动态标题 -->
    <script async src="/js/title.js"></script>
    <!-- 卜算子js -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!-- 自建umami统计代码 -->
    <script defer src="https://statistics.zhengweixin.top/script.js" data-website-id="7441ce23-3587-41b6-8919-e42932fc65d7"></script>


  </head>
  <body>
    <Loading/>
    <Header/>
    <div class="main">
      <main>
        <slot/>
      </main>
    </div>
    <Footer/>
    <!-- 控制台输出 -->
    <script src="/js/console-log.js" is:inline></script>
  </body>
</html>
