---
import '~/styles/index.css'
import '~/styles/heti.min.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { SEO } from 'astro-seo'
import { getImage } from 'astro:assets'

interface Props {
  title?: string
  desc?: string
  banner?: ImageMetadata
}

const props = Astro.props as Props
const themeConfig = Astro.locals.config
const { header } = themeConfig

const defaultTitle = props.title ?? themeConfig.title
const desc = props.desc ?? themeConfig.desc
const canonical = themeConfig.website

const image = props.banner 
  ? await getImage({ src: props.banner, format: "jpeg" })
  : null

const optimizedImage = new URL(image?.src ?? "/placeholder.png", Astro.url).toString()
---

<html lang="zh">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="utf-8"
      title={defaultTitle}
      description={desc}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico', type: 'image/jpg' }],
        meta: [
          { name: "twitter:image:src", content: optimizedImage },
          { name: "twitter:image:alt", content: desc },
          { name: "twitter:creator", content: header.twitter },
          { name: "twitter:site", content: header.twitter },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:title", content: defaultTitle },
          { name: "twitter:description", content: desc },
        ],
      }}
      openGraph={{
        basic: {
          title: defaultTitle,
          type: "article",
          image: optimizedImage,
          url: canonical,
        }
      }}
    />

    <!-- 动态标题 -->
    <script>
      const defaultTitle = document.title;
      const defaultIcon = '/favicon.ico';
      const hiddenIcon = '/hidden-favicon.ico';

      function changeFavicon(src: string) {
        const link = document.querySelector("link[rel~='icon']") as HTMLLinkElement | null;
        if (link) {
          link.href = src;
        } else {
          const newLink = document.createElement('link');
          newLink.rel = 'icon';
          newLink.href = src;
          document.head.appendChild(newLink);
        }
      }

      document.addEventListener('visibilitychange', function() {
        if (document.hidden) {
          document.title = '(っ °Д °;)っ 访问的页面不存在了';
          changeFavicon(hiddenIcon);
        } else {
          document.title = '(●\'◡\'●)噫？又好啦 ~';
          changeFavicon(defaultIcon);
          setTimeout(() => {
            document.title = defaultTitle;
          }, 2000); // 2秒后恢复原来的标题
        }
      });
    </script>
    <!-- 自建umami统计代码 -->
    <script defer src="https://statistics.zhengweixin.top/script.js" data-website-id="7441ce23-3587-41b6-8919-e42932fc65d7"></script>

  </head>
  <body>
    <div un-max-lg="animate-fadein-down" un-lg="flex flex-row-reverse justify-between gap-4 px-8 mx-auto max-w-6xl" class="container contain-layout m-a">
      <div un-lg="sticky top-0 h-screen py-20 animate-fadein-left gap-8" un-lg:flex="~ col justify-between items-start gap-4" class="p-7.5">
        <Header />
        <Footer class="max-lg:hidden" />
      </div>
      <main un-lg="py-20 min-w-xl animate-fadein-down" class="p-7.5">
        <slot />
      </main>
      <footer class="lg:hidden p-7.5">
        <!-- 这里是移动端的Footer 因为有点问题，不知道怎么整，所有没写 -->
      </footer>
    </div>
  </body>
</html>
